@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.expand-button {
    transform: perspective(7px) rotateY(7deg);
}

.required:before {
    content:"* ";
    color: #AB3E3F;
}

.hidden {
    display: none;
}

#html5-qrcode-button-camera-permission {
    background: #AB3E3F;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
}

#html5qr-code-full-region img[alt~="Info"] {
    right: 8px !important;
}

#html5-qrcode-anchor-scan-type-change, #html5-qrcode-button-camera-stop {
    display: none !important;
}

.ant-picker-calendar-mode-switch {
    display: none;
}

.ant-picker-calendar-header {
    margin-right: 10px;
}

.ant-picker-calendar, .ant-picker-calendar-full .ant-picker-panel {
    background: none;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
    background: rgba(255,145,147,.3);
}

.ant-picker-content {
    border-collapse: separate;
    border-spacing: 1rem 5px;
}

.ant-picker-calendar .ant-picker-panel .ant-picker-body {
    padding-top: 0;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td {
    background: white;
}