@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background: #F0F2F5;
}

.bg-red {
    background: #AB3E3F;
}

.border-red {
    border: #AB3E3F;
}

.text-red {
    color: #AB3E3F;
}

.-translate-xy-1\/2 {
    transform: translateY(-50%) translateX(-50%);
}